* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  background-color: #831cb5;
}

span {
  color: #831cb5;
}

#btnLogin {
  background: #831cb5;
}

.btn-baixe {
  background-color: #3d8d7a;
  color: white;
}

#herobanner {
  font-size: 55px;
}

.lista-mobile {
  font-size: 12pt;
}

.custom-box {
  padding: 20px;
  text-align: left;
}
.image-box img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
